@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form method="post">
    <div class="mx-auto">
        <div>
            <label>Username</label>
            <input type="text" class="form-control" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label>Email</label>
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit">Register</button>
    </div>
    </form>
</div>

